<!doctype html>
<html  lang="en">
  <head>
    <title>Bo2S App POC</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="bots-style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="botsBoard" ng-controller="MainCtrl">

      <div id="board-container" class="container-fluid">
    
    <iframe class="img-load-frame" src=""></iframe>
    
          <h3 class="centered-header">BestOfTwoScrums - storyboard <small>proof of concept</small></h3>




          <div id="board-main-container" class="container-fluid">
            <div class="row" id="board-main-row">
                <div class="col-sm-4 board-col-left">
                  <h3 class="centered-header"><em>to&nbsp;do</em></h3>
                    <div class="row board-stories-row">
                        <div class="col-sm-5 bg-warning story" id="column-to-do" ng-repeat="story in storiesToDo">
{{story.id}}
<div class="text-right storypoints"><strong>{{story.points}}</strong></div>
<h5>{{story.title}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 board-col-mid">
                  <h3 class="centered-header"><em>in&nbsp;progress</em></h3>
        
                    <div class="row board-stories-row">
                        <div class="col-sm-5 bg-warning story" id="column-in-progress"  ng-repeat="story in storiesInProgress">
                        {{story.id}}
<div class="text-right storypoints"><strong>{{story.points}}</strong></div>
<h5>{{story.title}}</h5>
                        </div> 
                        
                        <div class="col-sm-5" id="column-mid-filler">
                        &nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>
                        &nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>
                        &nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>
                        </div>     

                    </div>
                </div>
                <div class="col-sm-4 board-col-right">      
                  <h3 class="centered-header"><em>done</em></h3>
                    <div class="row board-stories-row">
                        <div class="col-sm-5 bg-warning story" id="column-done" ng-repeat="story in storiesDone">
                        {{story.id}}
<div class="text-right storypoints"><strong>{{story.points}}</strong></div>
<h5>{{story.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  
  <div id="last-response">{{lastOcvResponse}}</div>
  
  </body>
</html>
